@model WebProject.Models.TypeOfFood

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2  style="text-align:center">Chi tiết loại sản phẩm</h2>

<div  style="text-align:center">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

    </dl>
</div>
<p  style="text-align:center">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Trở lại danh sách", "Index")

</p>
