@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Liên Hệ</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->
<!-- Start Contact -->
<div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3817.027904628585!2d107.07893801486992!3d16.923915688357983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3140e92ff816eb79%3A0xd9ebf2ed7367f1a7!2zUXXDoW4gVHV54bq_dCDEkGVu!5e0!3m2!1sen!2s!4v1626938802001!5m2!1sen!2s" width="1600" height="800" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div class="contact-box">
   </div>