@model IEnumerable<WebProject.Models.Food>
@{
    ViewBag.Title = "Home Page";
}

<!-- Start slides day la xuan tu -->

<div id="slides" class="cover-slides">
    <ul class="slides-container">
        <li class="text-left">
            <img src="~/images/slider-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Live Dinner Restaurant</strong></h1>
                        <p class="m-b-40">
                            Trải nghiệm người dùng là tiêu chí hàng đầu của chúng tôi  <br>
                            Chúng tôi rất hân hạnh khi phục vụ bữa ăn ngon cho mọi người.
                        </p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Đặt Chỗ Ngay</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="~/images/slider-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Live Dinner Restaurant</strong></h1>
                        <p class="m-b-40">
                            Trải nghiệm người dùng là tiêu chí hàng đầu của chúng tôi  <br>
                            Chúng tôi rất hân hạnh khi phục vụ bữa ăn ngon cho mọi người.
                        </p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Đặt Chỗ Ngay</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="~/images/slider-03.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Live Dinner Restaurant</strong></h1>
                        <p class="m-b-40">
                            Trải nghiệm người dùng là tiêu chí hàng đầu của chúng tôi  <br>
                            Chúng tôi rất hân hạnh khi phục vụ bữa ăn ngon cho mọi người.
                        </p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Đặt Chỗ Ngay</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End slides -->
<!-- Start About -->
<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>Welcome To <span>Live Dinner Restaurant</span></h1>
                    <h4>Mẩu chuyện nhỏ:</h4>
                    <p>Ẩm thực miền Tây Mỹ với nhiều nét ẩm thực mới lạ mà người Việt Nam ở bản địa rất ưa chuộng. </p>
                    <p>Cùng với sự kết hợp của các đầu bếp hàng đầu của chúng tôi, nguồn nguyên liệu tươi ngon sẽ cho quý khách những trải nghiệm tuyệt vời!</p>
                    <a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Đặt Chỗ </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="images/about-img.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- End About -->
<!-- Start QT -->
<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <p class="lead ">
                    " If you're not the one cooking, stay out of the way and compliment the chef. "
                </p>
                <span class="lead">Michael Strahan</span>
            </div>
        </div>
    </div>
</div>
<!-- End QT -->
<!-- Start Gallery -->
<div class="gallery-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Sưu Tập</h2>
                    <p>Bộ nền ảnh sưu tập cho các bức ảnh đẹp nhất</p>
                </div>
            </div>
        </div>
        <div class="tz-gallery">
            <div class="row">

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/images/gallery-img-02.jpg">
                        <img class="img-fluid" src="~/images/gallery-img-02.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/images/gallery-img-03.jpg">
                        <img class="img-fluid" src="~/images/gallery-img-03.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/images/gallery-img-04.jpg">
                        <img class="img-fluid" src="~/images/gallery-img-04.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/images/gallery-img-05.jpg">
                        <img class="img-fluid" src="~/images/gallery-img-05.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/images/gallery-img-06.jpg">
                        <img class="img-fluid" src="~/images/gallery-img-06.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/images/gallery-img-06.jpg">
                        <img class="img-fluid" src="~/images/gallery-img-01.jpg" alt="Gallery Images">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->
