@model WebProject.Models.User

@{
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="~/css/style.css">
<!-- Pickadate CSS -->
<link rel="stylesheet" href="~/css/classic.css">
<link rel="stylesheet" href="~/css/classic.date.css">
<link rel="stylesheet" href="~/css/classic.time.css">

<!-- Responsive CSS -->
<link rel="stylesheet" href="~/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="~/css/custom.css">

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


<!-- Start Reservation -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="reservation-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Đặt chỗ:</h2>
                        <p>Nhân viên của chúng tôi sẽ liên lạc trực tiếp theo thông tin bạn cung cấp sau ít phút!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="contact-block">
                        <form id="contactForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Chi tiết bàn:</h3>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input  placeholder="Nhập ngày" id="input_date" class="datepicker picker__input form-control" name="Date" type="text" value="" required data-error="Nhập sai ngày">

                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input  placeholder="Nhập giờ" id="input_time" class="time form-control picker__input" name="Time" required data-error="Please enter time">

                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select  name="AmoutPerson" class="custom-select d-block form-control" id="person" required data-error="Nhập số người sai">
                                                <option disabled selected>Số người</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>Chi tiết liên lạc:</h3>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" name="NameTheBooker" placeholder="Tên của bạn" required data-error="Please enter your name">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" placeholder="Gmail của bạn" id="email" class="form-control" name="EmailTheBooker" required data-error="Please enter your email">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" placeholder="SĐT của bạn" id="phone" class="form-control" name="EmailTheBooker" required data-error="Please enter your Numbar">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="submit-button text-center">
                                        <button  class="btn btn-common" id="submit" type="submit">Đặt Bàn</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <!-- End Reservation -->
    <!-- ALL JS FILES -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/jquery.superslides.min.js"></script>
    <script src="~/js/images-loded.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/baguetteBox.min.js"></script>
    <script src="~/js/picker.js"></script>
    <script src="~/js/picker.date.js"></script>
    <script src="~/js/picker.time.js"></script>
    <script src="~/js/legacy.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/custom.js"></script>
    </body>
    </html>