
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/style-login.css" rel="stylesheet" />
    <title>Login</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/font-awesome.min.css"
      ><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #social-container {
            padding: 0px;
            margin: 0px;
            width: auto;
        }
  
    </style>
</head>
<body>
    <h2>Chào mừng đến với Dinner Live Restaurant!</h2>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="~/SignIn/Login" method="post">
                <h1>Tạo tài khoản</h1>
                <div class="social-container" id="social-container">
                    <a href="#" class=" fa fa-google"></a>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
                <span>Hoặc dùng gmail để đăng ký</span>

                <input type="text" placeholder="Tên Tài Khoản" name="tentaikhoan" />
                <input type="password" placeholder="Mật Khẩu" name="matkhau" />
                <input type="email" placeholder="Email" name="email" />
                <input type="text" placeholder="Họ Tên" name="hoten" />
                <input type="text" placeholder="Địa Chỉ" name="diachi" />
                <input type="text" placeholder="SDT" name="sdt" />
                <button type="submit" value="Register">Đăng Ký</button>

                    
            </form>
        </div>

        <div class="form-container sign-in-container">
            <form action="~/SignIn/Login1" method="post">
                <h1>Đăng nhập</h1>
                <div class="social-container">
                    <a href="#" class=" fa fa-google"></a>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
                <span>Đăng nhập với tài khoản khác</span>
                <p class="text-danger">@ViewBag.Inform</p>
                <input type="text" placeholder="Tên đăng nhập" name="tentaikhoan" />
                <input type="password" placeholder="Mật khẩu" name="matkhau" />
                <a href="#">Quên mật khẩu?</a>
                <button type="submit">Đăng Nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Chào mừng trở lại</h1>
                    <p>Nếu bạn là người cũ, hãy đăng nhập ở đây</p>
                    <button class="ghost" id="signIn">Đăng nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Xin Chào!</h1>
                    <p>Hãy đăng ký tài khoản để bắt đầu cuộc hành trình với chúng tôi.</p>
                    <button class="ghost" id="signUp">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>
            Created with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
            - Read how I created this and how you can join the challenge
            <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
        </p>
    </footer>
    <script src="~/js/js-login.js"></script>
</body>
</html>
