@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Admin Live Dinner Restaurant</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon"
          href="~/images/logoAdmin.png"
          type="image/png" />
    <style>
        .footer {
            position: sticky;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
        
        }
    </style>
</head>
<body>
    <div>
        <header class="top-navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <h3> ADMIN ID:  @Session["UserID"]</h3>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbars-rs-food">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="~/Admin">Quản Lý Chung</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="~/Admin/Food/Index">Quản Lý SP</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Admin/User/Index">Quản Lý User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Admin/Invoices/Index">Quản Lý HĐ</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Khác</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                    <a class="dropdown-item" href="~/Admin/TypeOfFood/Index">Loai SP</a>
                                    <a class="dropdown-item" href="~/Admin/Contact/Index">Liên lạc</a>

                                </div>
                            </li>

                        </ul>
                    </div>
                    <a class="btn btn-outline-warning" href="~/Admin/Auth/logout">Đăng xuất</a>

                </div>
            </nav>
        </header>
    </div>
    <div>
        <br /><br /><br /><br />
        @RenderBody()
    </div>
    <br  <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
    <div class="footer footer-area">
        <footer>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="company-name">
                                Đã đăng ký bản quyền. &copy; 2018 <a href="#">Live Dinner Restaurant</a> Thiết Kế Bởi:
                                <a href="https://html.design/">10Real</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    <!-- End Footer -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/plugins/ckfinder/ckfinder.js"></script>
    <!-- ALL PLUGINS huu tuongfdfadsfdsàdadssadsadsadsadsfsdfsadfsad -->
    <script src="~/js/jquery.superslides.min.js"></script>
    <script src="~/js/images-loded.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/baguetteBox.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/custom.js"></script>

    @RenderSection("jsFooter", required:false)

</body>



</html>



